.gmm-waifu-text{
    color: #97d0e0;
    font-family: 'Play', sans-serif;  
}

.gmm-money-text{
    color: #cfc26f;
}

.divider{
    border-bottom: .2vh solid #444444;
    margin: 0vh 0vw 1vh 0vw;
}

