.alert-img-desk {
    width: 20%;
}


.disclaim-desk {
    font-size: 3vw;
}



.disc-accept-desk {
    font-size: 3vw;
    margin: 5vh 0vh 5vh 0vh;
}

.disc-cancel-desk {
    font-size: 3vw;
}