
.alert-img-cont {
    text-align: center;
}

.disclaim {
    font-family: 'Kanit', sans-serif;
    color: #df9090
}

.disc-accept {
    color: #7cda63;
    border: .3vh solid #7cda63;
}

.disc-cancel {
    color: #c62b2b;
    border: .3vh solid #c62b2b;
}

